<template>
  <div class="flex flex-row">
    <div class="logo">
      <img src="/img/logo.webp" alt="">
    </div>
    <div class="flex flex-col">
      <div class="mx-3 py-2">
        <!-- Menu trên nằm bên phải -->
        <ul class="flex flex-row pl-96">
          <li class="mx-4 pl-96 py-2 px-2">Trang chủ</li>
          <li class="mx-4 py-2 px-2">Giới thiệu</li>

          <li class="mx-4 bg-blue-400 py-2 px-2">Hỗ trợ mua</li>
        </ul>
        <hr>
      </div>
      <div class="mx-3">
        <ul class="flex flex-row">

          <li class="mx-6  hover:bg-gray-300 py-2 px-2">
            <NuxtLink to="#"> Trang chủ</NuxtLink>
          </li>
          <li class="mx-6  hover:bg-gray-300 py-2 px-2 ">
            <NuxtLink to="#">Vị trí</NuxtLink>
          </li>
          <li class="mx-6  hover:bg-gray-300 py-2 px-2">
            <NuxtLink to="#">dự án</NuxtLink>
          </li>

          <li class="mx-6  hover:bg-gray-300 py-2 px-2">
            <NuxtLink to="#">Sản phẩm</NuxtLink>
          </li>
          <li class="mx-6  hover:bg-gray-300 py-2 px-2">
            <NuxtLink to="#">Nhận xét</NuxtLink>
          </li>
          <li class="mx-6  hover:bg-gray-300 py-2 px-2">
            <NuxtLink to="#">Tiện ích</NuxtLink>
          </li>
          <li class="mx-6  hover:bg-gray-300 py-2 px-2">
            <NuxtLink to="#">Căn hộ</NuxtLink>
          </li>
          <li class="mx-6  hover:bg-gray-300 py-2 px-2">
            <NuxtLink to="#">Liên hệ</NuxtLink>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <div class="slideshow-container">
    <div v-for="(image, index) in images" :key="index" class="mySlides">
      <img :src="image" :alt="`Slide ${index + 1}`" />
    </div>
  </div>

  <div class="flex flex-col">  
    <h1 class=" underline underline-offset-8 text-center text-5xl">  <p class="overline py-20">VỊ TRÍ</p>
 </h1>
  </div>
  <div class="flex justify-between px-20">
  <div class="min-w-fit pr-5  ">
    <img src="/img/location_img.jpg" alt="">
  </div>
  <div>
    <p class="min-w-full">Sở hữu vị trí tiếp giáp và được bao bọc bởi 150,25ha Lâm viên sinh thái tự nhiên (cũng được đầu tư bởi Haravan), Lux Residence là nơi yên tĩnh nhất để tận hưởng trọn vẹn không gian xanh rộng lớn, trong lành giữa trung tâm thành phố Hồ Chí Minh sôi động. Phong cách kiến trúc Tân cổ điển mang đến cho Lux Residence vẻ sang trọng, tinh tế và sắc sảo đến từng đường nét. Kết hợp cùng cảnh quan sinh thái độc đáo, quy hoạch đô thị đồng bộ, kiến trúc toàn khu Lux Residence như một bức tranh hoàn hảo về sự yên bình, gần gũi, phồn vinh và hài hòa cùng thiên nhiên. Không chỉ có giá trị thẩm mỹ bền vững với thời gian, Lux Residence còn được thiết kế công năng ưu việt, mang đến chất lượng sống vượt trội xứng tầm phong cách sống đẳng cấp của chủ nhân.
      <br>
      <button class="bg-pink-700 hover:bg-pink-400 hover:text-white text-black  mt-20 py-2 px-9 border rounded">
        Mặt bằng tổng thể 
 
      </button>

</p>
  </div>
  
</div>
​ 
 <div class="flex flex-col">  
    <h1 class=" underline underline-offset-8 text-center text-4xl">  <p class="overline py-20">SAN PHAM</p>
 </h1>
  </div>
  <div class="flex flex-row justify-between">
    <div class="flex flex-col">  
      <img class="mx-4 py-4 px-0" src="https://hstatic.net/998/1000081998/1/2016/4-11/pr4_large.jpg" alt="">
      <h1 class=" pl-4 pb-2 text-2x1 font-bold"> CĂN HỘ SKY45</h1>
      <p class="pl-4 text-sm">Căn hộ 45m2 +1 đã hoá giải bài toán không gian một cách khoa học, thông minh, là lựa chọn thích hợp cho những gia đình trẻ với 1 phòng ngủ, 1 nhà vệ sinh, ban công và đặc biệt là một không gian đa năng dễ dàng sáng tạo thành phòng làm việc hay phòng ngủ phụ.
      </p>
      <p class="pl-4 pt-2">
         <Strong>Diện tích:</Strong> 45m2
      </p>
      <p class="pl-4 pt-2">
         <Strong>số phòng:</Strong> 2 phòng ngủ
      </p>
      <a class="pl-4 pt-4 text-sm hover:text-pink-500" href=""> > XEM THÊM</a>
    </div>
    <div class="flex flex-col">
      <img class="mx-4 py-4 px-4" src="https://hstatic.net/998/1000081998/1/2016/4-11/pr1_large.jpg" alt="">
      <h1 class=" pl-8 pb-2 pt-4 text-2x1 font-bold"> CĂN HỘ SKY45 STUDIO</h1>
      <p class="pl-8 text-sm">Căn hộ 45m2 +1 đã hoá giải bài toán không gian một cách khoa học, thông minh, là lựa chọn thích hợp cho những gia đình trẻ với 1 phòng ngủ, 1 nhà vệ sinh, ban công và đặc biệt là một không gian đa năng dễ dàng sáng tạo thành phòng làm việc hay phòng ngủ phụ.
      </p>  
      <p class="pl-8 pt-2">
         <Strong>Diện tích:</Strong> 45m2
      </p>
      <p class="pl-8 pt-2">
         <Strong>số phòng:</Strong> 2 phòng ngủ
      </p>
      <a class="pl-8 pt-2 text-sm hover:text-pink-500" href=""> > XEM THÊM</a>
    </div>
    <div class="flex flex-col">
      <img class="mx-4 py-4 px-4" src="https://hstatic.net/998/1000081998/1/2016/4-11/pr7_large.jpg" alt="">
      <h1 class=" pl-8 pb-2 pt-2 text-2x1 font-bold"> CĂN HỘ SKY45</h1>

      <p class="pl-8 text-sm">Căn hộ 45m2 +1 đã hoá giải bài toán không gian một cách khoa học, thông minh, là lựa chọn thích hợp cho những gia đình trẻ với 1 phòng ngủ, 1 nhà vệ sinh, ban công và đặc biệt là một không gian đa năng dễ dàng sáng tạo thành phòng làm việc hay phòng ngủ phụ.</p>
      <p class="pl-8 pt-2">
         <Strong>Diện tích:</Strong> 45m2
      </p>
      <p class="pl-8 pt-2">
         <Strong>số phòng:</Strong> 2 phòng ngủ
      </p>
      <a class="pl-8 pt-4 text-sm hover:text-pink-500" href=""> > XEM THÊM</a>
    </div>
  </div>
  <div class="flex flex-row justify-between pt-4">
    <div class="flex flex-col">  
      <img class="mx-4 py-4 px-0" src="https://hstatic.net/998/1000081998/1/2016/4-11/pr10.jpg" alt="">
      <h1 class=" pl-4 pb-2 text-2x1 font-bold"> CĂN HỘ SKY55</h1>
      <p class="pl-4 text-sm">Căn hộ 55m2 có kiến trúc đột phá, trẻ trung với 2 phòng ngủ tiêu chuẩn, 1 nhà vệ sinh, ban công cùng không gian đa năng để học tập, làm việc hoặc biến thành phòng ngủ thứ 3 khi cần thiết.
      </p>
      <p class="pl-4 pt-2">
         <Strong>Diện tích:</Strong> 55m2
      </p>
      <p class="pl-4 pt-2">
         <Strong>số phòng:</Strong> 2 phòng ngủ -1 WC
      </p>
      <a class="pl-4 pt-4 text-sm hover:text-pink-500" href=""> > XEM THÊM</a>
    </div>
    <div class="flex flex-col">
      <img class="mx-4 py-4 px-4" src="https://hstatic.net/998/1000081998/1/2016/4-11/pr13.jpg" alt="">
      <h1 class=" pl-8 pb-2 pt-4 text-2x1 font-bold"> CĂN HỘ SKY60</h1>
      <p class="pl-8 text-sm">Căn hộ 45m2 +1 đã hoá giải bài toán không gian một cách khoa học, thông minh, là lựa chọn thích hợp cho những gia đình trẻ với 1 phòng ngủ, 1 nhà vệ sinh, ban công và đặc biệt là một không gian đa năng dễ dàng sáng tạo thành phòng làm việc hay phòng ngủ phụ.
      </p>  
      <p class="pl-8 pt-2">
         <Strong>Diện tích:</Strong> 45m2
      </p>
      <p class="pl-8 pt-2">
         <Strong>số phòng:</Strong> 2 phòng ngủ
      </p>
      <a class="pl-8 pt-2 text-sm hover:text-pink-500" href=""> > XEM THÊM</a>
    </div>
    <div class="flex flex-col">
      <img class="mx-4 py-4 px-4" src="https://hstatic.net/998/1000081998/1/2016/4-11/pr7_large.jpg" alt="">
      <h1 class=" pl-8 pb-2 pt-2 text-2x1 font-bold"> CĂN HỘ SKY45</h1>

      <p class="pl-8 text-sm">Căn hộ 45m2 +1 đã hoá giải bài toán không gian một cách khoa học, thông minh, là lựa chọn thích hợp cho những gia đình trẻ với 1 phòng ngủ, 1 nhà vệ sinh, ban công và đặc biệt là một không gian đa năng dễ dàng sáng tạo thành phòng làm việc hay phòng ngủ phụ.</p>
      <p class="pl-8 pt-2">
         <Strong>Diện tích:</Strong> 45m2
      </p>
      <p class="pl-8 pt-2">
         <Strong>số phòng:</Strong> 2 phòng ngủ
      </p>
      <a class="pl-8 pt-4 text-sm hover:text-pink-500" href=""> > XEM THÊM</a>
    </div>
  </div>
 </template>


<script>
export default {
  data() {
    return {
      images: [
        "img/slideshow_1.jpg",
        "img/slideshow_2.webp",
        "img/slideshow_2.webp"
      ],
      slideIndex: 0
    };
  },
  mounted() {
    this.showSlides();
  },
  methods: {
    showSlides() {
      let i;
      const slides = document.getElementsByClassName("mySlides");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      this.slideIndex++;
      if (this.slideIndex > slides.length) {
        this.slideIndex = 1;
      }
      slides[this.slideIndex - 1].style.display = "block";
      setTimeout(this.showSlides, 5000); // Change image every 5 seconds
    }
  }
};
</script>


<style>
/* Add your custom styles here if needed */
.slideshow-container {
  position: relative;
  display: block;
}

.mySlides {
  display: none;
}

.mySlides img {
  display: block;
}
</style>
